.icoName {
  font-size: 12px;
}
.icoNumber {
  font-size: 10px;
}
.iconBox {
  width: max-content;
  height: max-content;
  padding: 4px 8px;
  box-sizing: border-box;
  background: #e3f9ff;
  color: #222;
  margin-bottom: 4px;
  font-size: 18px;
}
// .colBox :hover {
//   border: 1px double #b5d6f1;
// }
