.colLeft {
  -moz-user-select: none;
  /* Firefox私有属性 */
  -webkit-user-select: none;
  /* WebKit内核私有属性 */
  -ms-user-select: none;
  /* IE私有属性(IE10及以后) */
  -khtml-user-select: none;
  /* Khtml内核私有属性 */
  -o-user-select: none;
  /* Opera私有属性 */
  user-select: none;
  /* CSS3属性 */
}


.iconBox {
  width: 40px;
  height: 40px;
  padding: 4px 8px;
  box-sizing: border-box;
  background: #e3f9ff;
  color: #222;
  margin-bottom: 4px;
  font-size: 18px;

}

.box {
  padding: 4px 0;
  cursor: pointer;

}

.gutterRow {
  border: 1px solid transparent;

  &:hover {
    border: 1px dotted #c0e8f3
  }
}

//视图模块
.visibleArea{
 width: 440px;
 height: 69vh;
 min-height: 840px;
 max-height: 90vh;
 border: 1px solid #cdcdcd;
 border: radius 4px; ;
 -webkit-border-radius:4px ;
 -moz-border-radius:4px ;
 -ms-border-radius:4px ;
 -o-border-radius:4px ;
 scrollbar-width: none; /* firefox */
 -ms-overflow-style: none; /* IE 10+ */
 overflow-x: hidden;
 overflow-y: auto;
}
.visibleArea::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.opacityGhost {
  -webkit-transition: all .18s ease;
  transition: all .18s ease;
  opacity: 0.8;
  cursor: ns-resize;
  /* transform: rotateZ(5deg); */
  background-color: cornflowerblue;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
  cursor: ns-resize;
}

.opacityGhostDrop {
  opacity: 1;
  /* transform: rotateZ(0deg); */
  background-color: white;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.0);
}
