@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root{
  min-width: 1280px;
  overflow-y: auto;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-image {
  position: relative;
  display: block;
}